Signal
go
flutter
htop
lazygit
libreoffice
fonts
chapters
lazy-lock.json
logs
*data
history.txt
accounts.conf
dconf
systemd
pulse
vesktop
basic
rtmp
GIMP
MongoDB Compass 
SpeedCrunch
nextjs-nodejs
obs-studio
galculator
