window {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 12pt;
  color: #E5E5E5;
  background-color: rgba(32, 32, 32, 0.90);
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  border-style: solid;
  border-width: 2px;
  background-color: rgba(20, 20, 20, 0.35);
  border-color: #4A4A4A;
  color: #E5E5E5;
  margin: 6px;
  border-radius: 18px;
  transition: background-color 0.25s ease, border-color 0.25s ease;
}

button:hover {
  background-color: rgba(50, 50, 50, 0.60);
  border-color: #8A8A8A;
}

button:focus {
  background-color: rgba(50, 50, 50, 0.60);
  border-color: #AAAAAA;
}

#lock {
  background-image: image(url("icons/lock_white.png"));
}

#logout {
  background-image: image(url("icons/logout_white.png"));
}

#suspend {
  background-image: image(url("icons/suspend_white.png"));
}

#hibernate {
  background-image: image(url("icons/hibernate_white.png"));
}

#reboot {
  background-image: image(url("icons/reboot_white.png"));
}

#shutdown {
  background-image: image(url("icons/shutdown_white.png"));
}
